<style>
    h5 {
        color: cornflowerblue;
    }

    h3 {
        color: dodgerblue;
    }
</style>
<div class="card p-5">
    <div class="row justify-content-end">
        <div class="col-md-1 col-sm-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square mx-2" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download mx-2" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
            </svg>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row mb-3">
                <div class="col-md-6 col-sm-6">
                    <div class="rounded-circle text-center p-3" style="background-color:lightgray;width: 100px;height: 100px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="gray" class="bi bi-camera" viewBox="0 0 16 16">
                            <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z" />
                            <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                        </svg>
                    </div>
                </div>
            </div>
            <h3 class="">SHAFFI AHUJA</h3>
            <hr />
            <section>
                <h5>Profile Summary</h5>
                <p>
                    Working in Wipro for last 2 years and
                    currently as Front-End Developer.
                    Confident communicator and strategic
                    thinker with collaborative and supportive
                    work environment. Hard worker and
                    continuous learner.
                </p>
            </section>

            <section>
                <h5 class="mt-3">Contact</h5>
                <div class="mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg> <span> +91 9729615135</span>
                </div>
                <div class="mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                    </svg><span> shaffi.ahuja@gmail.com</span>
                </div>
                <div class="mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg><span> Haryana, India</span>
                </div>
            </section>

            <section>
                <h5 class="mt-3">Skills</h5>
                <p>
                    HTML, CSS, Bootstrap,
                    JavaScript, JQuery, MySQL,
                    Chart.js, Java, C#, ASP.Net MVC,
                    Microsoft SQL Server
                </p>
            </section>

            <section>
                <h5 class="mt-3">Awards</h5>
                <ul>
                    <li>
                        Victory League Award
                        <span class="d-block" style="font-size:small">by Wipro</span>
                        <i class="d-block " style="font-size:smaller">
                            2 times winner for excellent
                            contribution in meeting customer’s
                            requirement
                        </i>
                    </li>
                    <li>
                        Inspiring Performane Award
                        <span class="d-block" style="font-size:small">by Wipro</span>
                        <i class="d-block " style="font-size:x-small">

                        </i>
                    </li>
                </ul>
            </section>

            <section>
                <h5 class="mt-3">Certificates</h5>
                <ul>
                    <li>
                        <a href="https://www.udemy.com/certificate/UC-1ed41948-d9f2-4f44-b2da-543e8db826bb/" style="text-decoration:none;color:black" target="_blank">The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert</a>
                        <span class="d-block" style="font-size:small">by Udemy</span>
                        <i class="d-block " style="font-size:small">
                            Certificate Id : UC-1ed41948-d9f2-4f44-b2da-543e8db826bb
                        </i>
                    </li>
                    <li>
                        <a href="https://www.hackerrank.com/certificates/013234ef4468" style="text-decoration:none;color:black" target="_blank">C# (Basic) Certificate</a>
                        <span class="d-block" style="font-size:small">by HackerRank </span>
                        <i class="d-block " style="font-size:small">
                            Certificate Id : 013234ef4468
                        </i>
                    </li>
                </ul>
            </section>

            <section>
                <h5 class="mt-3">Languages Known</h5>
                <p>English, Hindi, Punjabi</p>
            </section>
            <section>
                <h5 class="mt-3">Course</h5>
                <ul>
                    <li>
                        <div>
                            SQL Bootcamp (Udemy)
                        </div>
                        <span class="d-block" style="font-size:small">
                            June 2021 - Aug 2021
                        </span>
                    </li>
                    <li>
                        <div>
                            Web Developer Bootcamp (Udemy)
                        </div>
                        <span class="d-block" style="font-size:small">
                            Aug 2020 - Nov 2020
                        </span>
                    </li>
                </ul>


            </section>
        </div>
        <div class="col-md-8">
            <h5 class="mt-3">Experience</h5>
            <div style="font-weight:bold">FRONT-END DEVELOPER / WIPRO</div>
            <i style="font-size:small">Sept 2020 - June 2021 (FullTime)</i>

            <ul>
                <li>Designed and developed UI for several modules including multiple dashboards using above frontend technologies.</li>
                <li>Developed UI for clients as per UX shared.</li>
                <li>Developed basic full stack modules such as Project Management and MyLearning etc. using above Backend & Frontend technologies.</li>
                <li>Created few basic rules for devNXT remediation tool for C# code files. Referred rules from https://rules.sonarsource.com/.</li>
                <li>Used Git for version controlling.</li>
            </ul>
            @*<p>
                    Technology Stack - HTML, CSS, Bootstrap, JavaScript, JQuery, Chart.js,  C# (Basics), Microsoft SQL Server (SSMS), ASP.Net MVC
                </p>*@

            <div style="font-weight:bold">INFORMATION SECURITY ANALYST AND SPECIALIST / WIPRO</div>
            <i style="font-size:small">Sept 2019 - Sept 2020 (FullTime)</i>

            <ul>
                <li>
                    As Information security Analyst (September 2019 – February 2020) -
                </li>
                <li>
                    Identified the source of data theft by which we secure sensitive business data and prevent illegal access of it.
                </li>
                <li>
                    Monitored data movement across various channels
                    Exchange and Endpoint based on different policies and if
                    any sensitive information found then escalated for further
                    investigation.
                </li>
                <li>
                    Monitored data movement across various channels
                    Exchange and Endpoint based on different policies and if
                    any sensitive information found then escalated for further
                    investigation.
                </li>
                <li>
                    As Information security Specialist (March 2020 – September 2020) -
                </li>
                <li>
                    Did effective analysis, investigation and follow up on
                    triggered incidents for data information leakage for logical
                    closure.
                </li>
                <li>Closed around 400 incidents.</li>
                <li>
                    Achieved appreciations on providing inputs for improving UI of
                    incident tracker application we used.
                </li>

            </ul>
            <p>

            </p>

            <h5 class="mt-3">Education</h5>
            <div style="font-weight:bold">
                B.TECH: COMPUTER SCIENCE
            </div>
            <span class="d-block" style="font-size:small">Seth Jai Parkash Mukand Lal Institute of Engineering & Technology (JMIT), Radaur (Kurukshetra University)</span>
            <span class="d-block" style="font-size:small">
                2015 - 2019
            </span>
            <span class="d-block" style="font-size:small">
                Scored 78%
            </span>
            <div style="font-weight:bold">
                12TH : SCIENCE
            </div>
            <span class="d-block" style="font-size:small">Daffodils Public School, Fatehabad, Haryana (CBSE)</span>
            <span class="d-block" style="font-size:small">
                2013 – 2014
            </span>
            <span class="d-block" style="font-size:small">
                Scored 87%
            </span>
            <div style="font-weight:bold">
                10TH : SCIENCE
            </div>
            <span class="d-block" style="font-size:small">Daffodils Public School, Fatehabad, Haryana (CBSE)</span>
            <span class="d-block" style="font-size:small">
                2011 – 2012
            </span>
            <span class="d-block" style="font-size:small">
                Scored 91%
            </span>
            <h5 class="mt-3">Projects</h5>
            <div style="font-weight:bold">
                Find Out
            </div>
            <span class="d-block" style="font-size:small">
                June 2021 - Aug 2021
            </span>
            <span class="d-block" style="font-size:small">
                Project URL -
            </span>
            <p>
                For Job seekers and Interview Schedulers. For Job seekers and Interview Schedulers. For Job seekers and Interview Schedulers. For Job seekers and Interview Schedulers. For Job seekers and Interview Schedulers.

            </p>

            <div style="font-weight:bold">
                HopeTal
            </div>
            <span class="d-block" style="font-size:small">
                June 2018 - Aug 2018
            </span>
            <span class="d-block" style="font-size:small">
                Project URL -
            </span>
            <p>
                Communication between doctors and patients.Communication between doctors and patients.Communication between doctors and patients.Communication between doctors and patients.Communication between doctors and patients.Communication between doctors and patients.
            </p>


        </div>
    </div>
</div>